<p><%= user_name %> you said that you are <%= user_age %> and that your 3 favorite numbers are <%= user_number1 %>, <%= user_number2 %>, and <%= user_number3 %> which totals <%= fav_nums_total %>. <%= resulting_statement %>.</p>

<a href="/">Try Again</a>
